nav {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 40vh;
  margin-left: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(230, 232, 230, 0.2);
  border-radius: 24px;
  margin-bottom: 12px;
  gap: 1rem;
  padding: 12px;
  /* background-color: rgba(25, 25, 25, 0.3); */
  background: transparent;
}

.icon_container, .icon_container_link {
  display: flex;
  border: 1px solid rgba(230, 232, 230, 0.2);
  border-radius: 12px;
  padding: 8px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(25, 25, 25, 0.3); */
  background: transparent;
  transition: transform 0.2s ease-in-out
}

.icon_container:hover {
  transform: scale(1.25);
}

.icon_container_link:hover {
  transform: scale(1.25);
  background-color: rgba(0, 71, 255, 0.4);
}

.divider {
  width: 25%;
  height: 3px;
  background: transparent;
  border: 1px solid rgba(230, 232, 230, 0.2);
  border-radius: 12px;
}


@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }
}

@media only screen and (max-width: 1480px) {
  nav {
    display: none;
  }
}
