.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal {
  background: transparent;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 60%;
  max-height: 80%;
  border: 1px solid rgba(230, 232, 230,1);
  border-radius: 12px;
  overflow-y: auto;
}

.imageGallery {
  margin: 1rem 0 1rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;

}

.imageGallery img, .imageGallery .video {
  width: 100%;
  max-height: 60vh;
  border-radius: 24px;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.navButtonLeft, .navButtonRight {
  cursor: pointer;
  height: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
}

.nav_grid {
  display: flex;
  flex-direction: column;
}

.previewVideo {
  height: 100%;
  font-size: 24px;
  color: #E6E8E6;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
  cursor: pointer;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
}

.button {
  position: fixed;
  top: 0;
  right: 20%;
  border-radius: 24px;
  background: transparent;
  border: 1px solid rgba(230, 232, 230,1);
  width: 48px;
  height: 48px;
}

.navButtonRight:hover, .navButtonLeft:hover, .previewVideo {
  transform: scale(1.05);
}

.overlay h1 {
  margin: 0;
}

.overlay p {
  margin-left: 4px;
}

.overlay h4 {
  color: rgba(230, 232, 230, .75);
  margin-left: 4px;
}

.tag_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.project_tag {
  border: 1px solid rgba(230, 232, 230, 1);
  background: transparent;
  border-radius: 24px;
  width: 100%;
  text-align: center;
}

.tag_wrapper h3 {
  font-size: 12px;
  color: rgba(230, 232, 230, 1);
  margin: .5rem;
}

@media only screen and (max-width: 768px) {
  .nav_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box; /* prevent overflow from padding */
  }

  .nav_grid > * {
    width: 100%;
  }

  .navButtonLeft,
  .navButtonRight {
    padding: 0;
    margin: 0;
  }

  .imageGallery {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .previewVideo {
    width: 100%;
  }

  .tag_wrapper {
    margin-top: 1.5rem;
  }
}
